*/15 * * * * /usr/local/bin/mai-shedule-bot
# такая строка для crontab будет запускать бота каждые 15 минут круглосуточно
# Не забудьте: chmod +x /usr/local/bin/mai-shedule-bot (файл должен быть исполняемым)
# создана с помощью https://crontab-generator.org/
# бота нужно запускать под тем пользователем, которому принадлежат все его файлы
# для редактирования crontab: 
# $ EDITOR=nano crontab -e 
# и новой строкой вставить первую строку этого файла
# чтобы на почту не слались уведомления оби сполнении скрипта, в crontab в самое первой строке сделать пустую почту: MAILTO=""
